{% extends "uikit/layout.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load static %}
{% load easy_thumbnails_tags %}

{% block title %}
    {{ product.get_title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
    <nav class="uk-child-width-expand uk-padding-large uk-padding-remove-vertical" uk-grid>
        <div>
            <ul class="uk-breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                {% with category=product.get_categories.first %}
                    {% for c in category.get_ancestors_and_self %}
                        <li>
                            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                        </li>
                    {% endfor %}
                    <li>{{ product.get_title|truncatechars:20 }}</li>
                {% endwith %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content_wrapper %}
    <section class="uk-child-width-1-2@m" uk-grid>
        {# Product Images #}
        {% with all_images=product.get_all_images %}
            <div>
                <div
                    x-data="slideshow()"
                    @variant-selected.window="changeImage($event.detail)"
                    style="z-index: 980"
                    uk-sticky="bottom: #additonalInformation; top: 100"
                    class="uk-flex uk-flex-center"
                    uk-grid>
                    {# thumbnav #}
                    <div class="uk-width-1-6@s uk-visible@l">
                        <ul class="uk-thumbnav uk-thumbnav-vertical" uk-margin>
                            {% for image in all_images %}
                                {% with counter=forloop.counter|add:'-1' %}
                                    <li :class="{ 'uk-active': index == {{ counter }} }"><a @mouseenter="changeImage('{{ image.original.url }}'); changeIndex({{ counter }})"><img data-src="{% thumbnail image.original 100x124 %}" width="50" alt="" uk-img></a></li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    </div>

                    {# image display #}
                    <div class="uk-width-expand" id="zoomImages">
                        <div>
                            <img x-ref="productImage" data-src="{{ product.primary_image.original.url }}" width="" height="" alt="" uk-img>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}

        {# Details #}
        <div x-data="buyForm()">
            {% purchase_info_for_product request product as session %}

            <p class="{{ session.availability.code }} availability">
                Availability: 
                <i uk-icon="icon: {% if session.availability.is_available_to_buy %}check{% else %}close{% endif %}"></i>
                {{ session.availability.message }}
            </p>
            <h1>{{ product.get_title }}</h1>


            {% if session.price.exists %}
                {% if session.price.excl_tax == 0 %}
                    <p class="price_color">{% trans "Free" %}</p>
                {% elif session.price.is_tax_known %}
                    <p class="price_color">{{ session.price.incl_tax|currency:session.price.currency }}</p>
                {% else %}
                    <p class="price_color">{{ session.price.excl_tax|currency:session.price.currency }}</p>
                {% endif %}
            {% else %}
                <p class="price_color">&nbsp;</p>
            {% endif %}

            {% iffeature "reviews" %}
                {% include "uikit/catalogue/reviews/partials/review_stars.html" %}
            {% endiffeature %}

            {# Variants #}
            <div class="uk-child-width-1-1 uk-flex uk-flex-between" uk-grid>
                <div>
                    <h2>{% trans 'Variants:' %}</h2>
                </div>
                <div>
                    {% block variants %}
                        {% for child in product.children.public %}
                            {% with counter=forloop.counter|add:'-1' %}
                                {% purchase_info_for_product request child as child_session %}
                                {% if child_session.availability.is_available_to_buy %}
                                    <a
                                        @click="variantSelected($event, '{% url 'basket:add' pk=child.pk  %}', $dispatch, {{ counter }})"
                                        :class="{'uk-text-muted': currentVariant != {{ counter }} }"
                                        href="#!" data-image-src="{{ child.primary_image.original.url }}">{{ child.get_title }}</a><br>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>

            <div class="uk-child-width-auto uk-flex uk-flex-between" uk-grid>
                <div>
                    <span>
                        <i uk-icon="icon: heart"></i>
                        Shipping
                    </span>
                </div>
                <div>
                    <span>
                        <i uk-icon="icon: mail"></i>
                        Ask about this product
                    </span>
                </div>
            </div>

            {# quantity and buy now #}

            <div class="uk-flex uk-flex-between" uk-grid>
                <div class="uk-width-1-1">
                    <div class="uk-form-controls uk-form-controls-text">
                        <label><input x-model="isAgree" class="uk-checkbox" type="checkbox" name="is_agree"> I agree with the terms and conditions</label><br>
                    </div>
                </div>
                <div class="uk-width-1-3@m">
                    <div class="uk-inline">
                        <a @click="updateQuantity(-1)" class="uk-form-icon" href="#!" uk-icon="icon: minus"></a>
                        <a @click="updateQuantity(1)" class="uk-form-icon uk-form-icon-flip" href="#!" uk-icon="icon: plus"></a>
                        <input
                            x-model.number="quantity"
                            class="uk-input uk-width-1-1 uk-text-center"
                            type="number">
                    </div>
                </div>
                <div class="uk-width-expand">
                    <form
                         x-bind:action="productURL"
                        id="add_to_basket_form"
                        method="post"
                        class="add-to-basket">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% url 'checkout:index' %}">
                        <input type="hidden" name="quantity" x-model.number="quantity">
                        <button class="uk-button uk-button-primary uk-width-1-1" type="submit" form="add_to_basket_form">BUY NOW</button>
                    </form>
                </div>
            </div>

            {# description #}
            <div class="uk-width-expand" uk-grid>
                <div>
                    {{ product.description|safe }}
                </div>
            </div>

            {# additonal information #}
            <hr>
            <div class="uk-child-width-expand" uk-grid id="additonalInformation">
                <div>
                    <h2>ADDITIONAL INFORMATION</h2>
                    <table class="uk-table">
                        <tbody>
                            {% for av in product.attribute_values.all %}
                                <tr>
                                    <th class="uk-table-shrink">{{ av.attribute.name }}:</th>
                                    <td class="uk-table-expand">{{ av.value_as_html }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {# reviews #}
            <hr>
            <div class="uk-child-width-expand" uk-grid>
                <div>
                    <p><strong>REVIEWS</strong></p>
                    <h2>CUSTOMER REVIEWS</h2>

                    {% iffeature "reviews" %}
                        <tr>
                            <th>{% include "uikit/catalogue/reviews/partials/review_stars.html" %}</th>
                            <td>{% trans "Based on " %} {{ product.num_approved_reviews }} {% trans "reviews" %}</td>
                        </tr>
                    {% endiffeature %}
                </div>
            </div>
        </div>
    </section>

    <div class="uk-flex-center" uk-grid id="socialMediaLinks">
        <div>
            <a class="uk-text-default" href="#!"><span uk-icon="icon: facebook"></span></a>
            <a class="uk-text-default" href="#!"><span uk-icon="icon: instagram"></span></a>
            <a class="uk-text-default" href="#!"><span uk-icon="icon: pinterest"></span></a>
        </div>
    </div>


    {% with recommended_products=product.sorted_recommended_products|slice:":6" %}
        {% if recommended_products %}
            <section class="uk-flex-center" uk-grid>
                <div>
                    <h2>{% trans "Related products" %}</h2>
                    <div uk-slider="center: true">

                        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                            <ul class="uk-slider-items uk-child-width-1-4@s uk-grid-small">
                                {% for product in recommended_products %}
                                    <li>
                                        <div class="uk-card uk-card-default">
                                            <div class="uk-card-media-top">
                                                {% with product.primary_image as image %}
                                                <a href="{{ product.get_absolute_url }}"><img data-src="{{ image.original.url }}" alt="{{ product.primary_image.caption }}" uk-img="width: 265; height:329"></a>
                                                {% endwith %}
                                            </div>
                                            <div class="uk-card-body uk-padding-small uk-padding-remove-vertical">
                                                <h3 class="uk-card-title"><a style="color: black !important;" href="{{ product.get_absolute_url }}"><small>{{ product.get_title }}</small></a></h3>
                                                {% purchase_info_for_product request product as session %}
                                                {% if session.price.exists %}
                                                    {% if session.price.excl_tax == 0 %}
                                                        <p class="price_color">{% trans "Free" %}</p>
                                                    {% elif session.price.is_tax_known %}
                                                        <p class="price_color">{{ session.price.incl_tax|currency:session.price.currency }}</p>
                                                    {% else %}
                                                        <p class="price_color">{{ session.price.excl_tax|currency:session.price.currency }}</p>
                                                    {% endif %}
                                                {% else %}
                                                    <p class="price_color">&nbsp;</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>

                            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                        </div>

                        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

                    </div>
                </div>
            </section>
        {% endif %}
    {% endwith %}
{% endblock content_wrapper %}

{% block extrascripts %}
    <script>
        function slideshow() {
            return {
                index: 0,
                changeIndex(index) {
                    this.index = index;
                    // UIkit.slideshow(this.$refs.itemSlideshow).show(this.index);
                },
                changeImage(url) {
                    this.$refs.productImage.setAttribute('data-src', url)
                },
            }
        }

        function buyForm() {
            return {
                quantity: 1,
                productURL: '',
                isAgree: false,
                currentVariant: -1,
                updateQuantity(num) {
                    this.quantity += num;
                },
                variantSelected(e, url, dispatch, counter) {
                    this.productURL = url;

                    let imageURL = e.target.getAttribute('data-image-src');
                    dispatch('variant-selected', imageURL);

                    this.currentVariant = counter;
                }
            }
        }
    </script>
    {{ block.super }}
{% endblock %}

{% block styles %}
    {{ block.super }}    
    <style>
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
    </style>
{% endblock styles %}